Repository statuscompliance/status-backend, pull requests merged in 2025-04, with the labels that each got.

#89 tests: added the tests for "checkRequiredProperties.js"
  src/utils/dates.js
  tests/unit/utils/requiredProperties.test.js
Labels: tests

#109 test(middleware): added verifyAdmin
  src/middleware/verifyAdmin.js
  tests/unit/middleware/verifyAdmin.test.js
Labels: tests

#122 Feature/mongo tmp
  tests/setup/database.js
  tests/setup/setup.js
Labels: tests

#112 test(utils): added validation
  src/index.js
  src/middleware/validation.js
  src/routes/thread.routes.js
  tests/unit/middleware/validation.test.js
Labels: tests

#130 test: added panel.structure-test
  src/utils/panelStructures.js
  tests/unit/utils/panelStructures.test.js
Labels: tests

#131 test: added gaugeStructure test
  tests/unit/utils/gaugeStructure.test.js
Labels: tests

#134 test: added scope utilities test
  src/utils/scopeUtilities.js
  tests/unit/utils/scopeUtilities.test.js
Labels: tests

#127 test: added agreementBuilder test
  src/utils/agreementBuilder.js
  tests/unit/middleware/.keep
  tests/unit/utils/.keep
  tests/unit/utils/agreementBuilder.test.js
Labels: tests

#140 test: added point controller unit test
  src/controllers/point.controller.js
  tests/unit/controllers/point/point.controller.test.js
Labels: tests

#99 test(config): added controller
  src/controllers/configuration.controller.js
  tests/unit/controllers/configuration/config.controller.test.js
Labels: tests

#116 tests(script): added controller
  src/middleware/validation.js
  tests/unit/controllers/script/script.controller.test.js
Labels: tests

#142 Feature/calculate compliance test
  src/utils/calculateCompliance.js
  tests/unit/utils/calculateCompliance.test.js
Labels: 😎 size/m, 🧪 Tests

#155 test: added index routes test
  tests/integration/routes/index.routes.test.js
Labels: 🧪 Tests, size/s

#159 refactor: simplify condition
  src/index.js
Labels: size/xs

#163 docs: added README.md
  README.md
Labels: 📝 Documentation, 😎 size/m
