Repository statuscompliance/status-backend, pull requests merged in 2025-06, with the labels that each got.

#187 test (middleware): added integration for endpoint.js
  tests/integration/middleware/endpoint.test.js
  tests/unit/utils/tokenUtils.test.js
  tests/utils/sampleAssistantData.js
  tests/utils/sampleConfigurationData.js
Labels: 😎 size/m, 🧪 Tests

#181 Feature/point routes test
  src/routes/point.routes.js
  tests/integration/routes/point.routes.test.js
  tests/unit/controllers/point/point.controller.test.js
  tests/utils/createPointExample.js
  tests/utils/mockController.js
Labels: 😎 size/m, 😖 size/l, 🧪 Tests

#180 Feature/computation.controller.js
  src/controllers/computation.controller.js
  tests/unit/controllers/computation/computation.controller.test.js
Labels: 😎 size/m, 😖 size/l, 🧪 Tests

#206 test: added grafana services account controller
  tests/unit/controllers/grafana/serviceAccount.controller.test.js
Labels: 😎 size/m, 🧪 Tests

#209 test: added grafana folder controller
  tests/unit/controllers/grafana/folder.controller.test.js
Labels: 😎 size/m, 🧪 Tests

#204 Feature/control routes test
  src/controllers/control.controller.js
  src/models/catalog.model.js
  src/routes/control.routes.js
  tests/integration/routes/control.routes.test.js
  tests/unit/controllers/control/control.controller.test.js
  tests/utils/createComputationExample.js
  tests/utils/sampleControlsData.js
Labels: 😖 size/l, 🧪 Tests

#216 test: added grafana query controller
  tests/unit/controllers/grafana/query.controller.test.js
Labels: 😎 size/m, 🧪 Tests

#212 test: added grafana panel controller
  src/controllers/panel.controller.js
  tests/unit/controllers/grafana/panel.controller.test.js
  tests/utils/createMockPanel.js
Labels: 😖 size/l, 🤯 size/xl, 🧪 Tests
